@page "/contact"


@using blazor_csjbernales.Shared
@inject HttpClient Http

<PageTitle>Contact</PageTitle>

<MudContainer Class="mt-16" MaxWidth="MaxWidth.Medium">
    <MudText Typo="Typo.h3" Align="Align.Center" GutterBottom="true">Reach me out at</MudText>
    <MudGrid Spacing="6" Class="mt-16">
        <MudItem xs="6">
            <MudText Typo="Typo.h5" GutterBottom="true">Email</MudText>
            <MudText >bcsjbernales@gmail.com</MudText>
            <MudText Typo="Typo.h5" GutterBottom="true">Mobile</MudText>
            <MudText >(+63) 995-1600-547</MudText>
            <MudText Typo="Typo.h5" GutterBottom="true">LinkedIn</MudText>
            <MudText >https://www.linkedin.com/in/bcsjbernales/</MudText>
        </MudItem>
        <MudItem xs="6">
            <MudText Typo="Typo.h5" GutterBottom="true">Socials</MudText>
            <MudPaper Class="d-flex flex-column" Style="height:100%;" Outlined="true">
                <MudList Clickable="true">
                    <MudListItem Icon="">
                        <div class="d-flex">
                            <MudText>Twitter</MudText>
                            <MudText Inline="true" Class="ml-auto">https://twitter.com/csjbernales</MudText>
                        </div>
                    </MudListItem>
                    <MudListItem Icon="">
                        <div class="d-flex">
                            <MudText>Model Airplane</MudText>
                            <MudText Class="ml-auto">$20</MudText>
                        </div>
                    </MudListItem>
                    <MudListItem Icon="">
                        <div class="d-flex">
                            <MudText>Plastic Glue</MudText>
                            <MudText Class="ml-auto">$12</MudText>
                        </div>
                    </MudListItem>
                    <MudListItem Icon="">
                        <div class="d-flex">
                            <MudText>Color set - Modern planes</MudText>
                            <MudText Class="ml-auto">$16</MudText>
                        </div>
                    </MudListItem>
                </MudList>
                <div class="mt-auto">
                    <MudDivider />
                    <div class="d-flex pa-4">
                        <MudText>Total:</MudText>
                        <MudText Class="ml-auto"><b>$53</b></MudText>
                    </div>
                </div>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {

}
